html {
	scroll-behavior: smooth;
}

body{
	font-family:Z003;
	background-color: #fff;
	font-size: 80%;
}

footer{
	background-color: gray;
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	position: absolute;
	bottom: -10;
	left: 0;
	padding-top:2em;
	padding-bottom:2em;
	text-indent: 1em;
}

h1{
	text-align: center;
	border: 2px solid black;
	border-radius: 30px;
	display:block;
	margin-left: 35%;
	margin-right: 35%;
	padding:0.75em;
	font-size: 3em;
	background-color:rgba(152, 203, 248, 0.432);
	box-shadow: 10px 5px 5px gray;
}

h2{	
	text-align:center;
	margin-top:-1em;
	font-size: 29px;
	padding: 2em;
}

#cdf {
	border: dashed black;
	height:20em;
	border-radius:5em;
}

#actualités{
	margin-left:10em;
}

@font-face {
	font-family: game;
	src: url(fonts/game.ttf) format('truetype');
}